body {
    background: #007934;
    position: relative;
    font-family:'Roboto';
}

.container {

    background: #7ABA7A;
    margin: auto;
    padding: 215px 0;

}

#logo {
    padding: 10px 10px 10px 10px;
}

#loginform {

    background-color: #f7f7f7;
    display: contents;
    height: 190px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
/*    outline: solid 10px rgba(0,0,0,0.10);*/
    width: 190px;
    padding: 30px;

}

