/* PSEUDO */
::selection {
    background-color: #007934;
    color: #FAFAFA;
}

/* MAIN */
body {
    font-size: 10px;
    color: #000000;
    margin: 0%;
    padding: 0%;
    overflow: scroll;
}

nav {
    height: 10%;
    background: #007934;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway";
}

nav form {
    font-size: 2em;
    margin: 1em;
}

nav form select {
    padding: 1em;
    font-family: "Raleway";
    background-color: #FAFAFA;
    height: 2em;
    width: auto;
}

nav form button {
    font-family: "Raleway";
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #888888;
    height: 2em;
    width: auto;
}

table {
    font-family: "Roboto"; 
    color: #242424;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
/*    table-layout: fixed;*/
    overflow: scroll;
}

table tr td {
    border: 1px solid #888888;
}

table tr:nth-child(even) {
    background-color: #F8F8F8;
}

table tr:hover {
    background-color: #DADADA;
}

table td {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.25em;
    height: 2em;
    padding: 1em;
}

table th {
    font-size: 1.5em;
    background-color: #8F23B3;
    color: #FAFAFA;
    height: 2em;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
}

/* CLASS */


/* ID */
#logo {
    padding: 2em;
}

#flexContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: scroll;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#buttonID {
    font-family: "Raleway";
    font-size: 2em;
/*    background-color: #FAFAFA;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #888888;*/
    height: auto;
    width: auto;
/*    padding: 0em 0.5em 0em 0.5em;*/
}